<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Tipp {{ id }}</title>

  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <style>
  body { background-color: #ddd; }
  header, footer { background-color: #ddd; border-color: #aaa;  }
  header { border-bottom: 1px solid; }
  footer { border-top: 1px solid; }
  #content { padding: 2rem; background-color: #fff; }
  #tippurl { width: 100%; }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/themes/prism.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']],
      displayMath: [['$$', '$$']]
    }
  };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
</head>
<body>
<header>
<span id="header--title" class="logo">Tipp  <a href="{{ url }}">{{ id }}</a></span>
</header>

<div id="content">
{{ content }}
</div>

<footer class="container">
<div class="row">
<div id="footer--qr" class="col-sm-4">
  <img src="{{ qrurl }}" alt="QR-Code zu  Tipp {{ id }}" class="bordered shadowed responsive-margin" />
</div>
<div id="footer--url" class="col-sm-8">
  <input type="text" id="tippurl" value="{{ url }}" disabled />
</div>
</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/components/prism-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
</body>
</html>
