{% extends "partials/base.html" %}


{% block additional_styles %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
{% endblock %}


{% block content %}
			<form action="{{ url_for('web.create') }}" method="POST">
				{% if error %}
				<div class="row">
			    <div class="col-sm-12">
			      <div class="card fluid warning">
			      	<p><span class="icon-alert"></span> {{ error }}</p>
			      </div>
			    </div>
			  </div>
			  {% endif %}
			  <div class="row">
			    <div class="col-md-8 col-md-offset-2 col-sm-12">
			      <label for="token">Token</label>
			      <input type="password" id="token" placeholder="Token" name="token" value="{{ token }}" style="width: 85%" />
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-sm-12">
			    	<textarea id="editor" name="content">{{ content }}</textarea>
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-sm-12" style="text-align: right;">
			    	<select name="template">
			    	{% for tpl in templates %}
			    		<option value="{{ tpl }}">{{ tpl }}</option>
			    	{% endfor %}
			    	</select>
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9" style="text-align: right;">
			      <button type="submit" class="primary">Tipp erstellen</button>
			    </div>
			  </div>
			</form>
{% endblock %}


{% block additional_scripts_foot %}
		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
		<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
		<script>
    	var simplemde = new SimpleMDE({
    		element: document.getElementById("editor"),
    		autofocus: true,
    		autosave: {
    			enabled: true,
    			uniqueId: '5853389256'
    		},
    		renderingConfig: {
	    		codeSyntaxHighlighting: true,
	    	},
    		toolbar: [
	    		     "bold", "italic", "code", "heading",
	    		"|", "quote", "unordered-list", "ordered-list",
	    		"|", "link", "image", {
						name: "custom",
						action: function customFunction(editor){
							var cm = editor.codemirror;
							text = cm.getSelection();
							cm.replaceSelection('$$' + text + '$$');
						},
						className: "fa fa-calculator",
						title: "Math",
					},
	    		"|", "preview", "side-by-side", "fullscreen",
	    		"|", "guide"
				]
    	});
		</script>
{% endblock %}
