<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>Jonas-Neugebauer.de</title>
		<meta name="description" content="tipps.ngb.schule" />
		<meta name="author" content="J. Neugebauer" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
		<style type="text/css" media="screen">
			.card {
				padding: 8px 12px;
			}
		</style>
	</head>

	<body>
		<h1>Tipps</h1>

		<div id="content">
			<form action="/create" method="POST">
				{% if error %}
				<div class="row">
			    <div class="col-md-12">
			      <div class="card fluid warning">
			      	<span class="icon-alert"></span> {{ error }}
			      </div>
			    </div>
			  </div>
			  {% endif %}
			  <div class="row">
			    <div class="col-md-12">
			      <label for="token">Token</label>
			      <input type="text" id="token" placeholder="Token" name="token" value="{{ token }}" />
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-md-12">
			    	<textarea id="editor" name="content">{{ content }}</textarea>
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-md-12">
			      <button type="submit" class="primary">Tipp erstellen</button>
			    </div>
			  </div>
			</form>
		</div>

		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
		<script>
    	var simplemde = new SimpleMDE({
    		element: document.getElementById("editor"),
    		autofocus: true,
    		autosave: {
    			enabled: true,
    			uniqueId: '5853389256'
    		}
    	});
		</script>
	</body>
</html>
