<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>Jonas-Neugebauer.de</title>
		<meta name="description" content="tipps.ngb.schule" />
		<meta name="author" content="J. Neugebauer" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
		<style type="text/css" media="screen">
    #editor {
        min-height: 10rem;
    }
	</style>
	</head>

	<body>
		<h1>Tipps</h1>

		<div id="content">
			<form action="/create" method="POST" if="tipp-form">
			  <div class="row">
			    <div class="col-md-12">
			      <label for="token">Token</label>
			      <input type="text" id="token" placeholder="Token" name="token" value="{{ token }}" />
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-md-12">
			    	<textarea id="tipp-content" name="content">{{ content }}</textarea>
			      <div id="tipp-editor">{{ content }}</div>
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-md-12">
			      <button type="submit" class="primary">Tipp erstellen</button>
			    </div>
			  </div>
			</form>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
	    var editor = ace.edit("editor");
	    editor.setTheme("ace/theme/monokai");
	    editor.session.setMode("ace/mode/markdown");

	    $('#tipp-content').css('display', 'none');

	    $('tipp-form').submit(function() {
      	$('#tipp-content').val(editor.getSession().getValue());
    	});
		</script>
	</body>
</html>
