{% extends "partials/base.html" %}


{% block additional_styles %}
{% endblock %}


{% block content %}
{% if tipps %}
<ol class="row">
	{% for tipp in tipps %}
	<li class="card"><a href="{{ url_for('web.edit', id=tipp.id) }}">{{ tipp.id }}</a>
		<small><span class="icon-calendar"></span> {{ tipp.created }} | <span class="icon-bookmark"></span> {{ tipp.template }}</small>
	</li>
	{% endfor %}
</ol>
{% else %}
Keine Tipps
{% endif %}
{% endblock %}


{% block additional_scripts_foot %}
{% endblock %}
