{% extends "partials/base.html" %}


{% block additional_styles %}
{% endblock %}


{% block content %}
{% if tipps %}
<ol class="row">
	{% for tipp in tipps %}
	<li class="card"><a href="{{ url_for('web.edit', id=tipp.id) }}">{{ tipp.id }}</a>
		<small><mark><span class="icon-calendar inverse"></span> {{ tipp.created }}</mark> | <mark class="tertiary"><span class="icon-bookmark inverse"></span> {{ tipp.template }}</mark></small>
	</li>
	{% endfor %}
</ol>
{% else %}
Keine Tipps
{% endif %}
{% endblock %}


{% block additional_scripts_foot %}
{% endblock %}
