{% extends "partials/base.html" %}

{% block content %}
<div class="columns">
	<div class="column is-6 is-offset-3">
		<form action="{{ url_for('web.login') }}" method="POST">
			{{ form.hidden_tag() }}
			<div class="field">
				<label class="label">Name</label>
				<div class="control has-icons-left">
					{{ form.username(class="input") }}
					<span class="icon is-left">
						<span class="iconify" data-icon="mdi-account"></span>
					</span>
				</div>
			</div>
			<div class="field">
				<label class="label">Passwort</label>
				<div class="control has-icons-left">
					{{ form.password(class="input") }}
					<span class="icon is-left">
						<span class="iconify" data-icon="mdi-form-textbox-password"></span>
					</span>
				</div>
			</div>
			<div class="field is-grouped is-grouped-right">
				<div class="control">
					{{ form.submit(class="button is-primary") }}
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
