{% extends "partials/tipp-base.html" %}

{% block content %}
<div class="content-text">
{{ content }}
</div>
{% endblock %}

{% block additional_scripts_foot %}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
	// Prepare code blocks by unpacking <pre><code class="language-mermaid">
	document.querySelectorAll("pre.mermaid, pre>code.language-mermaid").forEach($el => {
		// if the second selector got a hit, reference the parent <pre>
		if ($el.tagName === "CODE")
			$el = $el.parentElement
		// put the Mermaid contents in the expected <div class="mermaid">
		// plus keep the original contents in a nice <details>
		$el.outerHTML = `
			<div class="mermaid">${$el.textContent}</div>
			<!--<details>
			<summary>Diagram source</summary>
			<pre>${$el.textContent}</pre>
			</details>-->
		`
	});
	// Init mermaid
	mermaid.initialize({
		theme: (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) ?
			"dark" :
			"default"
	});
</script>
{% endblock %}
